<div ng-controller="awesomeCRM.saleItems.indexController">
  <div class="page-title">
    <div class="pull-right" style="padding: 10px 10px 0 10px;" ng-class="{'border-error': noTemplateError && !selectedTemplate}">
      <div product-template-select model="selectedTemplate" style="display: inline-block;vertical-align: top;" ></div>
      <a href ng-click="addFromTemplate(selectedTemplate)" class="btn btn-success">Add From Template</a>
    </div>
    <div class="title">
      <h3>Products</h3>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <table class="table table-entity-edit">
            <thead>
              <tr>
                <th ng-if="!offer"></th>
                <th>#</th>
                <th>Name/Type</th>
                <th>Description</th>
                <th>Price/Purchase Price</th>
                <th>Amount/Discount</th>
                <th class="actions">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat-start="(k,i) in saleItems">
                <td ng-if="!offer" rowspan="2">
                  <div checkbox ng-model="selected[i.id]"></div>
                </td>
                <td rowspan="2">{{ k + 1 }}</td>
                <td><input class="form-control" type="text" ng-model="i.name" ng-disabled="!editable"></td>
                <td rowspan="2"><textarea style="height: 100%" class="form-control" type="text" ng-model="i.description" ng-disabled="!editable"></textarea></td>
                <td>
                  <div class="input-group">
                    <input class="form-control" type="text" ng-model="i.price" ng-disabled="!editable">
                    <div class="input-group-btn">
                      <div currency-select label="" model="i.currency" ng-disabled="!editable"></div>
                    </div>
                  </div>
                </td>
                <td><input class="form-control" type="text" ng-model="i.amount" ng-disabled="!editable"></td>
                <td class="text-right" rowspan="2">
                  <div class="list-group">
                    <a class="list-group-item list-group-item-info" ng-if="editable && i.type == 'Product'" href ng-click="createMachine(i)">Create Machine</a>
                    <a class="list-group-item list-group-item-danger" ng-if="editable" href confirm="{{'DELETE_CONFIRMATION' | translate:{title: i.name} }}" ng-click="delete(i)">Delete</a>
                  </div>
                </td>
              </tr>
              <tr ng-repeat-end>
                <td style="border:none;"><div product-type-select model="i.type" ng-disabled="!editable"></div></td>
                <td style="border:none;"><input class="form-control" type="text" ng-model="i.purchasePrice" ng-disabled="!editable"></td>
                <td style="border:none;"><input class="form-control" type="text" ng-model="i.discount" ng-disabled="!editable"></td>
              </tr>
              <tr class="new-item">
                <td ng-if="!offer"></td>
                <td></td>
                <td colspan="4"><input placeholder="Name" class="form-control" type="text" ng-model="newItem.name"></td>
                <td class="text-right">
                  <a class="btn btn-success"href ng-click="add(newItem)">Add</a>
                </td>
              </tr>
            </tbody>
            <tfoot ng-if="!delivery">
              <tr>
                <td colspan="4" align="right" style="vertical-align: middle">Net Price:</td>
                <td colspan="1"><input class="form-control" type="text" ng-model="parentEntity.netPrice"></td>
                <td></td>
              </tr>
              <tr>
                <td colspan="4" align="right" style="vertical-align: middle">Total Price:</td>
                <td colspan="1"><input class="form-control" type="text" ng-model="parentEntity.totalPrice"></td>
                <td></td>
              </tr>
              <tr>
                <td colspan="4" align="right" style="vertical-align: middle">Purchase Price:</td>
                <td colspan="1"><input class="form-control" type="text" ng-model="parentEntity.purchasePrice"></td>
                <td></td>
              </tr>
            </tfoot>
          </table>

          <pre ng-if="errors">{{errors}}</pre>

          <div ng-if="order">
            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <a href ng-click="createDelivery()" class="btn btn-primary">Create Delivery</a>
                <a href ng-click="createInvoice()" class="btn btn-primary">Create Invoice</a>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div delivery-form sale="sale" products="deliveryProducts"></div>
                <div invoice-form sale="sale" products="invoiceProducts"></div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
