<div ng-controller="awesomeCRM.saleItems.indexController">
  <div class="page-title">
    <div class="pull-right">
      <div product-template-select model="selectedTemplate" style="display: inline-block;vertical-align: top;"></div>
      <a href ng-click="addFromTemplate(selectedTemplate)" class="btn btn-success">Add From Template</a>
    </div>
    <div class="title">
      <h3>Products</h3>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <table class="table table-entity-edit">
            <thead>
              <tr>
                <th ng-if="!offer"></th>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Currency</th>
                <th>Amount</th>
                <th>State</th>
                <th class="actions">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(k,i) in saleItems" ng-class="{'new-item': !i.id}">
                <td ng-if="!offer">
                  <div checkbox ng-model="selected[i.id]"></div>
                </td>
                <td>{{i.id ? k + 1 : 'new'}}</td>
                <td><input class="form-control" type="text" ng-model="i.name" ng-disabled="!editable && i.id"></td>
                <td><textarea class="form-control" type="text" ng-model="i.description" ng-disabled="!editable && i.id"></textarea></td>
                <td><div product-type-select model="i.type" ng-disabled="!editable && i.id"></div></td>
                <td><input class="form-control" type="text" ng-model="i.price" ng-disabled="!editable && i.id"></td>
                <td><input class="form-control" type="text" ng-model="i.discount" ng-disabled="!editable && i.id"></td>
                <td><div currency-select label="" model="i.currency" ng-disabled="!editable && i.id"></div></td>
                <td><input class="form-control" type="text" ng-model="i.amount" ng-disabled="!editable && i.id"></td>
                <td>
                  <div product-state-select model="i.state" ng-disabled="!stateEditable"></div>
                </td>
                <td class="text-right">
                  <div class="btn-group">
                    <a ng-if="!i.id" class="btn btn-success" href ng-click="add(i)">Add</a>
                    <a ng-if="editable && i.id" class="btn btn-danger" href ng-click="delete(i)">Delete</a>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5" class="text-right">Total:</td>
                <td>{{totalPrice}}</td>
                <td colspan="3"></td>
              </tr>
            </tfoot>
          </table>

          <pre ng-if="errors">{{errors}}</pre>

          <div ng-if="order">
            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <a href ng-click="createDelivery()" class="btn btn-primary">Create Delivery</a>
                <a href ng-click="createInvoice()" class="btn btn-primary">Create Invoice</a>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div delivery-form sale="sale" products="deliveryProducts"></div>
                <div invoice-form sale="sale" products="invoiceProducts"></div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
