<div ui-view>

  <form>
  </form>
  <div class="">
    <div class="page-title">
      <div class="title">
        <h3>Create New Contact</h3>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <table class="table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Phone</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="(k,i) in contacts">
                  <td>{{i.id}}</td>
                  <td>{{i.name}}</td>
                  <td>{{i.phone}}</td>
                  <td>
                    <ul>
                      <li><a ui-sref="contacts.update({id: i.id})">Edit</a></li>
                      <li><a href ng-click="delete(i, k)">Delete</a></li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <div class="pull-right">
              <a ui-sref="contacts.create">Create New Contact</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
