<div class="form-group">
  <label class="col-xs-2 control-label">{{label}}</label>
  <div class="col-xs-10">
    <div fs-select items="items" ng-model="model">
      <span ng-show="item">
        {{item.name}}
      </span>
      <span ng-hide="item">{{$parent.noneSelectedLabel}}</span>
      <a href ng-click="$parent.edit({id:item.id})" aria-hidden="true" ng-show="item && $index*1 != $index"
         class="btn btn-default">
        <i class="fa fa-external-link"></i>
      </a>
    </div>
  </div>
</div>
