<div class="form-group">
  <label ng-if="label" class="col-xs-2 control-label">{{label}}</label>
  <div ng-class="{'col-xs-10': label}" ng-if="!!multiple">
    <div ng-disabled="ngDisabled" fs-multiselect freetext="{{freetext}}" items="items" ng-model="select.value">
      <span ng-show="item">{{item}}</span>
      <span ng-hide="item">{{$parent.noneSelectedLabel}}</span>
    </div>
  </div>

  <div ng-class="{'col-xs-10': label}" ng-if="!multiple">
    <div ng-disabled="ngDisabled" fs-select freetext="{{freetext}}" items="items" ng-model="select.value">
      <span ng-show="item">{{item}}</span>
      <span ng-hide="item">{{$parent.noneSelectedLabel}}</span>
    </div>
  </div>
</div>
