<div class="">
  <div class="page-title">
    <div class="title">
      <h3 ng-if="partType.id">Edit Part Type {{partType.name}}</h3>
      <h3 ng-if="!partType.id">Create New Part Type</h3>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <pre ng-if="errors">{{errors}}</pre>

          <form fs-form-for name="partTypeForm" model="partType" ng-submit="save()">
            <fieldset class="form-horizontal">
              <div class="row">
                <div class="col-xs-6">
                  <fs-input as="text" name="name" label="Name"></fs-input>
                  <fs-input as="textarea" name="description" label="Description"></fs-input>
                  <fs-input as="text" name="price" label="Price"></fs-input>
                </div>
                <div class="col-xs-6">
                  <fs-row label="Type">
                    <div fs-select freetext="true" ng-model="company.type" items="companyTypes">
                      <span ng-show="item">{{item}}</span>
                      <span ng-hide="item">No Type</span>
                    </div>
                  </fs-row>

                  <fs-row label="Subtype">
                    <div fs-select freetext="true" ng-model="company.subtype" items="['Broadcast', 'Postproduction']">
                      <span ng-show="item">{{item}}</span>
                      <span ng-hide="item">No Subtype</span>
                    </div>
                  </fs-row>

                  <div company-select label="Supplier" model="partType.supplier"></div>

                </div>
              </div>

              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <a ui-sref="partTypes" class="btn btn-primary">Cancel</a>
                  <button type="submit" class="btn btn-success">Save</button>
                  <a ng-if="partType.id" href ng-click="delete(partType.id)" class="btn btn-danger">Delete</a>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
