<div ui-view>
  <div class="page-title">
    <div class="title">
      <h3>{{title}}</h3>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <table class="table">
            <thead>
            <tr>
              <th>ID</th>
              <th>State</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="i in documents">
              <td>{{i.id}}</td>
              <td>
                <span ng-if="i.active != undefined" class="label" ng-class="{'label-success': i.active, 'label-danger': !i.active, }">{{i.active ? 'Active' : 'Inactive'}}</span>
                <span ng-if="i.state != undefined">{{i.state}}</span>
              </td>
              <td class="actions">
                <div class="btn-group">
                  <a class="btn btn-success" href="/export/{{type}}/{{i.id}}" target="_blank">Export To PDF</a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
