.nav_menu {
  min-height: 58px;
}
.panel_toolbox {
  min-width: 0;
}
.comments-box{
  .thumbnail {
    padding:20px;
    height:auto;
  }
  .panel {
    position:relative;
  }
  .panel>.panel-heading:after,.panel>.panel-heading:before{
    position:absolute;
    top:11px;left:-16px;
    right:100%;
    width:0;
    height:0;
    display:block;
    content:" ";
    border-color:transparent;
    border-style:solid solid outset;
    pointer-events:none;
  }
  .panel>.panel-heading:after{
    border-width:7px;
    border-right-color:#f7f7f7;
    margin-top:1px;
    margin-left:2px;
  }
  .panel>.panel-heading:before{
    border-right-color:#ddd;
    border-width:8px;
  }
}

#filters {
  label {
    display: none;
  }
  .checkbox label {
    display: inline-block;
  }
  .col-sm-10{
    width: auto;
    padding: 0;
  }
}

.buttons, button, .btn {
  margin-bottom: 0;
  margin-right: 0;
}

.input-group .btn {
  margin-bottom: 0;
  margin-right: 0;
}
.input-group-btn .fa{
  width: 14px;
}

.page-title>div {
  float: left;
}

.modal-content .page-title {
  padding: 10px 15px;
}
.modal-dialog{width:85%;}
.modal{z-index:10000 !important;}

td span {
  line-height: inherit;
}

table.table-entity-edit tr.new-item td{
  border-top-width: 2px;
  border-top-color: #bbb;
}

#sidebar-menu{
  .nav {
    .nav li{padding-left: 6px;}
    &.side-menu li {
      &.active {
        background: #304456;
        //border: 1px solid #223344;

        a {
          background: transparent;
          box-shadow: none;
        }
      }

      a {
        margin-bottom: 0;
      }
    }

    a{
      cursor: pointer;
      &:hover{
        color: #E7E7E7;
        background: #304456;
      }
    }

  }

}

.border-error{border: 1px solid red;}

#sidebar-menu .nav.side-menu > li > a {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
}
