<div>
  <div class="page-title">
    <div class="title">
      <h3>Create Delivery</h3>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <table class="table">
            <thead>
            <tr>
              <th></th>
              <th>ID</th>
              <th>Name</th>
              <th>Description</th>
              <th>Type</th>
              <th>Price</th>
              <th>Currency</th>
              <th>Amount</th>
              <th>State</th>
            </tr>
            </thead>
            <tbody>
            <tr class="clickable" ng-click="selected[i.id] = !selected[i.id]" ng-repeat="(k,i) in saleItems">
              <td ng-if="!offer" width="32">
                <i class="fa" ng-class="selected[i.id] ? 'fa-check-square-o' : 'fa-square-o'"></i>
              </td>
              <td>{{k + 1}}</td>
              <td>{{i.name}}</td>
              <td>{{i.description}}</td>
              <td>{{i.type}}</td>
              <td>{{i.price}}</td>
              <td>{{i.currency}}</td>
              <td>{{i.amount}}</td>
              <td>{{i.state}}</td>
            </tr>
            </tbody>
          </table>

          <div>
            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <a href ng-click="createDelivery()" class="btn btn-primary">Create Delivery</a>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div delivery-form sale="sale" products="deliveryProducts" on-saved="onDeliverySaved"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
