<div class="">
  <div class="page-title">
    <div class="title">
      <h3 ng-if="sale.id">Edit Entity {{sale.name}}</h3>
      <h3 ng-if="!sale.id">Create New Entity</h3>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <pre ng-if="errors">{{errors}}</pre>

          <form fs-form-for name="saleForm" model="sale" ng-submit="save()">
            <fieldset class="form-horizontal">
              <div class="row">
                <div class="col-xs-6">
                  <fs-input as="text" name="name" label="Text Field"></fs-input>
                  <div company-select label="Company" model="sale.company"></div>
                  <div person-select label="Company Contact" model="sale.companyContact"></div>
                </div>
                <div class="col-xs-6">
                  <div person-select label="Local Contact" model="sale.localContact"></div>
                  <!--
                  <fs-row label="State">
                    <div fs-select ng-model="sale.state" items="['Offer', 'Ordered', 'Closed', 'Cancelled']">
                      <span ng-show="item">{{item}}</span>
                      <span ng-hide="item">No State</span>
                    </div>
                  </fs-row>
                  -->
                  <fs-row label="State">
                    <span>{{sale.state}}</span>
                  </fs-row>
                </div>
              </div>

              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <a href ng-click="close()" class="btn btn-primary">Cancel</a>
                  <button type="submit" class="btn btn-success">Save</button>
                  <a ng-if="sale.id" href ng-click="delete(sale)" class="btn btn-danger">Delete</a>
                  <a ng-if="sale.id" href ng-click="setState('Ordered')" class="btn btn-warning">Mark Ordered</a>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="sale.id">
    <div offers-table sale="sale"></div>
    <div orders-table sale="sale"></div>
  </div>
</div>
