<div class="">
  <div class="page-title">
    <div class="title">
      <h3 ng-if="machine.id">Edit machine {{machine.name}}</h3>
      <h3 ng-if="!machine.id">Create New machine</h3>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <pre ng-if="errors">{{errors}}</pre>

          <form fs-form-for name="machineForm" model="machine" ng-submit="save()">
            <fieldset class="form-horizontal">
              <div class="row">
                <div class="col-xs-6">
                  <fs-input as="text" name="name" label="Name"></fs-input>
                  <div machine-state-select model="machine.state"></div>
                  <fs-input as="text" name="serialNumber" label="Serial Number"></fs-input>
                  <div machine-type-select model="machine.type"></div>
                  <div company-select model="machine.company"></div>
                  <div sale-select model="machine.sale"></div>
                  <fs-row label="Manufactured On">
                    <input class="form-control" type="date" ng-model="machine.manufacturedOn">
                  </fs-row>
                  <fs-row label="Maintenance Start">
                    <input class="form-control" type="date" ng-model="machine.maintenanceStart">
                  </fs-row>
                  <fs-row label="Maintenance End">
                    <input class="form-control" type="date" ng-model="machine.maintenanceEnd">
                  </fs-row>
                </div>
                <div class="col-xs-6">
                  <div machine-service-level-select model="machine.serviceLevel"></div>
                  <fs-input as="text" name="softwareRelease" label="Software Release"></fs-input>
                  <div machine-chassis-select model="machine.chassis"></div>
                  <div machine-backplane-select model="machine.backplane"></div>
                  <fs-input as="textarea" name="stornextLicense" label="Stornext License"></fs-input>
                  <fs-input as="text" name="stornextSN" label="Stornext SN"></fs-input>
                  <fs-input as="text" name="cvfsID" label="CVFS ID"></fs-input>
                </div>
              </div>

              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <a href ng-click="close()" class="btn btn-primary">Cancel</a>
                  <button type="submit" class="btn btn-success">Save</button>
                  <a ng-if="machine.id" href confirm="{{'DELETE_CONFIRMATION' | translate:{title: machine.name} }}" ng-click="delete(machine)" class="btn btn-danger">Delete</a>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="machine.id">
    <div comments-list machine="machine"></div>
    <div machine-configurator machine="machine"></div>
    <div part-reservations-table machine="machine"></div>
  </div>
</div>
