<div ui-view>
  <div class="page-title">
    <div class="title">
      <h3>Parts</h3>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Filters and grouping</h2>
          <div class="clearfix"></div>
        </div>

        <div class="x_content">
          <form fs-form-for model="filters" id="filters">
            <fieldset class="form-inline">
              <fs-input as="text" name="barcode" placeholder="Barcode" label=""></fs-input>

              <span part-type-select label="" model="filters.types" multiple="Select Types"></span>

            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <table class="table">
            <thead>
              <tr>
                <th>Barcode</th>
                <th>Type</th>
                <th>Location</th>
                <th>Availability</th>
                <th class="actions">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr class="clickable" ui-sref="parts.edit({id: i.id})" ng-repeat="i in parts | filter:filters.search">
                <td>{{i.barcode}}</td>
                <td>{{i.type.name}}</td>
                <td>{{i.location}}</td>
                <td><span class="label" ng-class="{'label-success': i.isAvailable, 'label-danger': !i.isAvailable, }">{{i.isAvailable ? 'Yes' : 'No'}}</span></td>
                <td class="actions">
                  <div class="btn-group">
                    <a class="btn btn-danger" href confirm="{{'DELETE_CONFIRMATION' | translate:{title: 'part ' + i.id} }}" ng-click="delete(i)">Delete</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <div class="pull-right">
            <a class="btn btn-default" href ng-click="add()">Create New Part</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
