<div class="">
  <div class="page-title">
    <div class="title">
      <h3 ng-if="person.id">Edit Person {{person.firstName}} {{person.lastName}}</h3>
      <h3 ng-if="!person.id">Create New Person</h3>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <pre ng-if="errors">{{errors}}</pre>

          <form fs-form-for name="personForm" model="person" ng-submit="save()">
            <fieldset class="form-horizontal">
              <div class="row">
                <div class="col-xs-6">
                  <fs-input as="text" name="firstName" label="First Name"></fs-input>
                  <fs-input as="text" name="lastName" label="Last Name"></fs-input>

                  <div company-select label="Company" model="person.company"></div>

                  <fs-input as="text" name="position" label="Position"></fs-input>
                  <div person-relation-select label="Relation" model="person.relation"></div>

                  <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-10">
                      <div class="checkbox">
                        <label>
                          <input name="hasOwnAddress" ng-model="person.hasOwnAddress" type="checkbox">
                          Has Own Address
                        </label>
                      </div>
                    </div>
                  </div>

                  <fs-row label="Address">
                    <span ng-switch="person.hasOwnAddress">
                      <input ng-switch-when="true"  type="text" ng-model="person.address" class="form-control">
                      <input ng-switch-default type="text" ng-model="person.company.address" disabled class="form-control">
                    </span>
                  </fs-row>
                </div>
                <div class="col-xs-6">

                  <fs-row label="Zip">
                    <span ng-switch="person.hasOwnAddress">
                      <input ng-switch-when="true"  type="text" ng-model="person.zip" class="form-control">
                      <input ng-switch-default type="text" ng-model="person.company.zip" disabled class="form-control">
                    </span>
                  </fs-row>
                  <fs-row label="City">
                    <span ng-switch="person.hasOwnAddress">
                      <input ng-switch-when="true"  type="text" ng-model="person.city" class="form-control">
                      <input ng-switch-default type="text" ng-model="person.company.city" disabled class="form-control">
                    </span>
                  </fs-row>

                  <div ng-if="person.hasOwnAddress" country-select model="person.country"></div>
                  <div ng-if="!person.hasOwnAddress" country-select model="person.company.country"></div>

                  <fs-row label="Phone">
                    <div class="input-group">
                      <input name="phone" ng-model="person.phone" type="text" class="form-control">

                      <span class="input-group-btn">
                        <a class="btn btn-default" href="tel:{{person.phone}}">
                          <i class="fa fa-phone"></i>
                        </a>
                      </span>
                    </div>
                  </fs-row>

                  <fs-row label="Fax">
                    <div class="input-group">
                      <input name="fax" ng-model="person.fax" type="text" class="form-control">

                      <span class="input-group-btn">
                        <a class="btn btn-default" href="tel:{{person.fax}}">
                          <i class="fa fa-fax"></i>
                        </a>
                      </span>
                    </div>
                  </fs-row>

                  <fs-row label="Email">
                    <div class="input-group">
                      <input name="email" ng-model="person.email" type="text" class="form-control">

                      <span class="input-group-btn">
                        <a class="btn btn-default" href="mailto:{{person.email}}">
                          <i class="fa fa-envelope-o"></i>
                        </a>
                      </span>
                    </div>
                  </fs-row>
                </div>
              </div>

              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <a ui-sref="contacts" class="btn btn-primary">Cancel</a>
                  <button type="submit" class="btn btn-success">Save</button>
                  <a ng-if="person.id" href confirm="{{'DELETE_CONFIRMATION' | translate:{title: person.firstName + ' ' + person.lastName} }}" ng-click="delete(person.id)" class="btn btn-danger">Delete</a>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="person.id">
    <div comments-list person="person"></div>
  </div>
</div>
