<div class="">
  <div class="page-title">
    <div class="title">
      <h3 ng-if="person.id">Edit Person {{person.firstName}} {{person.lastName}}</h3>
      <h3 ng-if="!person.id">Create New Person</h3>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <pre ng-if="errors">{{errors}}</pre>

          <form fs-form-for name="personForm" model="person" ng-submit="save()">
            <fieldset class="form-horizontal">
              <div class="row">
                <div class="col-xs-6">
                  <fs-input as="text" name="firstName" label="First Name"></fs-input>
                  <fs-input as="text" name="lastName" label="Last Name"></fs-input>

                  <fs-row label="Company">
                    <div fs-select items="companies" ng-model="person.company">
                      <span ng-show="item">
                        {{item.name}}
                      </span>
                      <span ng-hide="item"> No Company </span>
                    </div>
                  </fs-row>

                  <fs-input as="text" name="position" label="Position"></fs-input>

                  <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-10">
                      <div class="checkbox">
                        <label>
                          <input name="hasOwnAddress" ng-model="person.hasOwnAddress" type="checkbox">
                          Has Own Address
                        </label>
                      </div>
                    </div>
                  </div>

                  <div ng-if="person.hasOwnAddress">
                    <fs-input ng-if="person.hasOwnAddress" as="text" name="address" label="Address"></fs-input>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div ng-if="person.hasOwnAddress">
                    <fs-input ng-if="person.hasOwnAddress" as="text" name="zip" label="Zip"></fs-input>
                  </div>
                  <div ng-if="person.hasOwnAddress">
                    <fs-input ng-if="person.hasOwnAddress" as="text" name="city" label="City"></fs-input>
                  </div>

                  <div ng-if="person.hasOwnAddress">
                    <fs-row label="Country">
                      <div fs-select items="countries" ng-model="person.country" freetext="true" >
                        <span ng-show="item">
                          {{item}}
                        </span>
                        <span ng-hide="item"> No Country </span>
                      </div>
                    </fs-row>
                  </div>

                  <fs-row label="Phone">
                    <div class="input-group">
                      <input name="phone" ng-model="person.phone" type="text" class="form-control">

                      <span class="input-group-btn">
                        <a class="btn btn-default" href="tel:{{person.phone}}">
                          <i class="fa fa-phone"></i>
                        </a>
                      </span>
                    </div>
                  </fs-row>

                  <fs-row label="Fax">
                    <div class="input-group">
                      <input name="fax" ng-model="person.fax" type="text" class="form-control">

                      <span class="input-group-btn">
                        <a class="btn btn-default" href="tel:{{person.fax}}">
                          <i class="fa fa-fax"></i>
                        </a>
                      </span>
                    </div>
                  </fs-row>

                  <fs-row label="Email">
                    <div class="input-group">
                      <input name="email" ng-model="person.email" type="text" class="form-control">

                      <span class="input-group-btn">
                        <a class="btn btn-default" href="mailto:{{person.email}}">
                          <i class="fa fa-envelope-o"></i>
                        </a>
                      </span>
                    </div>
                  </fs-row>
                </div>
              </div>

              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <a ui-sref="contacts" class="btn btn-primary">Cancel</a>
                  <button type="submit" class="btn btn-success">Submit</button>
                  <a ng-if="person.id" href ng-click="delete(person.id)" class="btn btn-danger">Delete</a>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="person.id">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <div class="comments-box">
              <div class="row">
                <div class="col-xs-12">
                  <h3>Comments</h3>
                </div>
              </div>
              <div class="row" ng-repeat="c in person.comments">
                <div class="col-xs-1">
                  <div class="thumbnail">
                    <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                  </div>
                </div>

                <div class="col-xs-11">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <strong>{{c.createdBy.username}}</strong>
                      <span class="text-muted">
                        commented
                        <span am-time-ago="c.createdAt"></span>
                      </span>
                    </div>
                    <div class="panel-body">
                      {{c.text}}
                    </div>
                    <div class="panel-footer" ng-if="c.files && c.files.length">
                      <div class="row">
                        <div class="col-xs-3" ng-repeat="f in c.files">
                          <div file="f"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <h3>Add Comment</h3>
            <form fs-form-for model="comment" ng-submit="addComment()" ngf-drop="uploadFiles($files)" ngf-drag-over-class="'dragover'" ngf-multiple="true">
              <fieldset class="row form-horizontal">
                <fs-input as="textarea" name="text" label="Comment"></fs-input>

                <div class="row">
                  <div class="col-xs-3" ng-repeat="f in comment.files">
                    <div file="f"></div>
                  </div>
                </div>
                <uib-progressbar ng-if="uploadingProgress >= 0" class="progress-striped" value="uploadingProgress">{{uploadingProgress}}%</uib-progressbar>

                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <a class="btn" ngf-select="uploadFiles($files)" multiple="multiple">Attach Files</a>
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
