<div ui-view>
  <div class="page-title">
    <div class="title">
      <h3>People</h3>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Filters and grouping</h2>
          <div class="clearfix"></div>
        </div>

        <div class="x_content">
          <form fs-form-for model="filters" id="filters">
            <fieldset class="form-inline">
              <fs-input as="text" name="search" placeholder="Search" label=""></fs-input>

              <div class="checkbox">
                <label>
                  <input name="reverseName" ng-model="filters.reverseName" type="checkbox">
                  Reverse Name
                </label>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody ng-repeat="(k,group) in people | filter:filters.search | groupBy:'alph' | toArray:true | orderBy:groupMinSortField">
              <tr class="active" ng-if="filters.groupField.key">
                <td colspan="3">
                  <a href ng-click="groupHidden[k] = !groupHidden[k]"><b>{{ group.$key }}</b></a>
                </td>
              </tr>
              <tr ng-hide="!!groupHidden[k]" ng-repeat="i in group">
                <td><a ui-sref="people.edit({id: i.id})">{{i.firstName}} {{i.lastName}}</a></td>
                <td><a href="tel:{{i.phone}}">{{i.phone}}</a></td>
                <td>
                  <div class="btn-group">
                    <a class="btn btn-danger btn-xs" href ng-click="delete(i)">Delete</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <div class="pull-right">
            <a class="btn btn-default" ui-sref="people.create">Create New Person</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
