<div ng-if="shown">
  <div class="page-title">
    <div class="title">
      <h3 ng-if="invoice.id">Edit Invoice {{invoice.id}}</h3>
      <h3 ng-if="!invoice.id">Create New Invoice</h3>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <pre ng-if="errors">{{errors}}</pre>

          <form fs-form-for name="invoiceForm" model="invoice" ng-submit="save()">
            <fieldset class="form-horizontal">

              <div class="row">
                <div class="col-xs-6">
                  <ul class="list-group">
                    <li ng-repeat="i in invoice.products" class="list-group-item">
                      {{i.name}}
                    </li>
                  </ul>

                </div>
                <div class="col-xs-6">
                  <div person-select provider-options="{company: sale.company.id}" label="Person" model="invoice.person"></div>
                  <fs-input as="text" name="address" label="Address"></fs-input>
                  <fs-input as="text" name="zip" label="Zip"></fs-input>
                  <fs-input as="text" name="city" label="City"></fs-input>
                  <div country-select label="Country" model="invoice.country"></div>
                  <fs-input as="text" name="comment" label="Comment"></fs-input>
                  <div invoice-state-select label="State" model="invoice.state"></div>

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <div checkbox ng-model="invoice.vatEligible" label="VAT Eligible"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <a href ng-click="close()" class="btn btn-primary">Cancel</a>
                  <button type="submit" class="btn btn-success">Save</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="invoice.id">
    <div products-table invoice="invoice" sale="sale"></div>
  </div>
</div>
