<div ng-controller="awesomeCRM.orders.indexController">
  <div class="page-title">
    <div class="title">
      <h3>Orders</h3>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <table class="table">
            <thead>
            <tr>
              <th>ID</th>
              <th>Comment</th>
              <th>Active</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="i in sale.orders">
              <td><a href ng-click="edit(i)">{{i.id}}</a></td>
              <td>{{i.comment}}</td>
              <td><span class="label" ng-class="{'label-success': i.active, 'label-danger': !i.active, }">{{i.active ? 'Yes' : 'No'}}</span></td>
              <td>
                <div class="btn-group">
                  <a ng-if="i.id" class="btn btn-danger btn-xs" href ng-click="delete(i)">Delete</a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="pull-right">
            <a ng-if="sale.state == 'Order'" class="btn btn-default" href ng-click="add()">Create New Order</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
